/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica', 'Arial', sans-serif;
}

// DEVELOPER NOTE: see app.module.ts, providers section, to see where these styles are used
$snackBarTextColorInfo: white;
$snackBarBackgroundInfo: #055e52; // #087a51
$snackBarActionColorInfo: lightgray;
.snackBarInfo {
	background-color: $snackBarBackgroundInfo;
	color: $snackBarTextColorInfo;
}
.mat-simple-snackbar > span {
	font-weight: bold;
}
.mat-simple-snackbar-action {
	.mat-button {
		.mat-button-wrapper {
			color: $snackBarActionColorInfo;
		}
	}
}
